head{
	background-color: lightblue;
	font-style: "Times New Roman", Times, serif;
}
body{
	background-color: lightblue;
	font-style: "Times New Roman", Times, serif;
	margin: 10%;
	font-size: 12pt;
}
th{
	text-align: right;
	font-weight: normal;
}
a{
	color: black;
	text-decoration: none;
}
.mytitle{
	text-align: center;
	font-size: 18pt;
}
.subtitle{
	text-align: left;
	font-size: 16pt;
	text-decoration: underline;
}
.menu{
	width:100%; 
	text-align: left;
	background-color: lightgrey;
	border: 1px solid black;	
}
.submenu{
	border: 1px solid black;
}
.submenu:hover{
	background-color: grey;
}
.project{
	font-size: 14pt;
	font-style: italic;
	font-weight:bold;
}
.table{
	width: 100%;
	background-color: white;
	border: 2pt solid black;
}
.nextRow{
	border: 1pt solid black;
	font-size:14pt;
}
.tableTitle{
	font-size:16pt;
	font-weight: bold;
	border-left: 1pt solid black;
	
}
.tableTitleLeft{
	font-size:16pt;
	font-weight: bold;	
}
.img{
	width:300pt;
	height:200pt;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.banner{
	
	height: auto;
	width: 100%;
}